{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Location{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="manifest" href="/pwa/manifest.json">

</head>
<body>
    {% if request.path == '/login/' or request.path == '/signup/' %}
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">World Airports Locator</a>
    </header>
    {% endif %}
    <main class="container-fluid mt-4">
        {% block content %}{% endblock %}
    </main>
    {% if request.path == '/login/' or request.path == '/signup/' %}
    <footer class="bg-dark text-center text-white py-3">
        <p class="mb-0">&copy; 2024 WorldAirport. All rights reserved.</p>
    </footer>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
